* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
}
body {
  background-color: white;
}
.homepage {
  background-image: url(../assets/backgrounds/home_img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deets {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
}
.logo {
  padding-bottom: 50px;
}
.welcome1,
.welcome {
  font-size: 4rem;
  font-weight: 800;
}
.state {
  font-size: 1.2rem;
}
.mouse {
  padding-top: 16%;
}
.abt {
  height: 50vh;
}
.about {
  padding-top: 5%;
  font-size: 2.8rem;
  font-weight: 800;
}
.abt p {
  font-size: 20px;
  font-weight: 600;
}
.services {
  background-image: url(../assets/backgrounds/services_image.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.services h1 {
  padding-top: 7%;
  font-weight: 800;
  font-size: 2.8rem;
}
.services p {
  font-weight: 600;
  font-size: 20px;
}
.our-work {
  justify-content: space-around;
  height: 50vh;
  font-size: 20px;
  font-weight: 500;
}
.our-work h1 {
  padding-top: 2%;
  font-weight: 800;
  font-size: 2.8rem;
}
.design {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.text {
  font-size: 30px;
  font-weight: 600;
}
.development {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.productmngt {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.portfolio{
    border: 2px solid red;
    height: 75vh;
}
.portfolio h1 {
  font-weight: 800;
  font-size: 2.8rem;
}
