* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
}
body {
  background-color: white;
}
.homepage {
  background-image: url(../assets/backgrounds/home_img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deets {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
}
.logo {
  padding-bottom: 50px;
}
.welcome1,
.welcome {
  font-size: 4rem;
  font-weight: 800;
}
.state {
  font-size: 1.2rem;
}
.mouse {
  padding-top: 16%;
}
.about{
    font-size: 2.4rem;
    font-weight: 800;
}
.abt p{
    font-size: 18px;
    font-weight: 600;
}