* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
  
}
body {
  background-color: white;
  width: 100%;
}
.homepage {
  background-image: url(../assets/backgrounds/home_img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deets {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
}
.logo {
  padding-bottom: 50px;
}
.welcome1,
.welcome {
  font-size: 4rem;
  font-weight: 800;
}
.state {
  font-size: 1.2rem;
}
.mouse {
  padding-top: 10%;
  cursor: pointer;
  animation: updown 1s ease infinite;
}
@keyframes updown{
  0%{
    transform:translateY(-20%);
  }
  50%{
    transform:translateY(20%)
  }
}

.abt {
  height: 50vh;
}
.about {
  padding-top: 5%;
  font-size: 2.8rem;
  font-weight: 800;
}
.abt p {
  font-size: 20px;
  font-weight: 600;
}
.services {
  background-image: url(../assets/backgrounds/services_image.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.services h1 {
  padding-top: 7%;
  font-weight: 800;
  font-size: 2.8rem;
}
.services p {
  font-weight: 600;
  font-size: 20px;
}
.our-work {
  justify-content: space-around;
  height: 50vh;
  font-size: 20px;
  font-weight: 500;
}
.our-work h1 {
  padding-top: 2%;
  font-weight: 800;
  font-size: 2.8rem;
}
.design {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.text {
  font-size: 30px;
  font-weight: 600;
}
.development {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.productmngt {
  height: 30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.portfolio {
  height: 75vh;
}
.portfolio2 {
  padding-top: 2%;
}

.portfolio h1 {
  font-weight: 800;
  font-size: 2.8rem;
}
.contact {
  background-image: url(../assets/backgrounds/contact_image.jpg);
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.nm-email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.form-control1 {
  height: 1cm;
  width: 20cm;
  background: none;
  border: 2px solid white;
}
::placeholder {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
.form-control {
  background: none;
  margin-top: 40px;
  border: 2px solid white;
}
.button {
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact h1 {
  padding-top: 2%;
  font-weight: 800;
  font-size: 2.8rem;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
}
.copyright {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.design p,
.development p,
.productmngt p {
  display: none;
  cursor: pointer;
}
span {
  font-size: 2rem;
  font-weight: 600;
}
.imgtitle {
  font-size: 20px;
  font-weight: 800;
  color:aqua;
  background-color: gray;
  border: 5px solid white;
  text-align: center;
  display: none;
  position: relative;
  top: -80px;
}

